# The following is added by the migration.sh script #
# Versions are taken from the relevant docker image #
#

ai4flwr @ git+https://github.com/ai4os/ai4-flwr@dp_tokens
flwr @ git+https://github.com/AI4EOSC/flower.git@credentials
hvac
jwt
tensorflow >= 2.12
scipy == 1.15
codecarbon == 2.8.3
