# The following is added by the migration.sh script #
# Versions are taken from the relevant docker image #
#

flwr @ git+https://github.com/AI4EOSC/flower.git@metric_privacy
tensorflow >= 2.12
scipy == 1.15
codecarbon == 2.8.3
